@use './variables.scss';

@use '@smartech/ui/base';
@use '@smartech/ui/presets';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply box-border h-dvh overflow-hidden bg-gray-100;
    direction: ltr;
  }

  ::selection {
    @apply bg-primary-500 text-base-white;
  }
}

#__intrack_root {
  @apply size-full;
}

#nprogress .bar {
  background: var(--primary-500-color) !important;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Smartech Icons';
  src: url('./assets/fonts/smartech-icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
